
.c__radar {

  .c__card__content {
    text-align: left;
  }

  padding: 1.5rem;


  &__title {
    margin-bottom: 1rem;
    min-width: fit-content;
    width: fit-content;
  }

  .echarts-for-react {
    margin: 2rem 0;
  }
}